{% extends 'base.html.twig' %}

{% block body %}
    </br></br>
    </br></br>
    
    <div class="text-center welcome">
        <h4>Merci d'avoir visité le site</h4>        
    </div>
    </br>
    <div class="text-center welcome">
        <h4>A bientôt<h4> 
    </div>   
{% endblock %}