{% extends 'base.html.twig' %}

{% block body %}
        </br>
        <div class="questions center-align">
            <h3>Test QCM prévention et sécurité incendie</h3> 
        </div>
        </br>
    
        <div class="questions center-align">
            <h3>Bienvenu dans ce Qcm à destination du personnel SSIAP</h3>
        </div> 
       
{% endblock %}      
  