{% extends 'base.html.twig' %}

{% block body %}
        
        </br>
        <div class="text-center">
            <h4>Test QCM prévention et sécurité incendie</h4> 
        </div>
        </br>
    
        <div class="text-center">
            <h4>Bienvenu dans ce Qcm à destination du personnel SSIAP</h4>
        </div> 
        
        
{% endblock %}  

         
  