{% extends 'base.html.twig' %}

{% block body %}
    
        <div class="m-auto">
            <h4>{{user.username}} vous avez obtenu une note de {{note}} sur 3</h4>               
        </div>
               
  
{% endblock %}      