{% extends 'base.html.twig' %}

{% block body %}
    
        <div>
            <h4>{{user.username}} vous avez obtenu une note de {{note}} sur 3</h4>               
        </div>
        
            
            {#{% for bReponses in bReponse  %}  
                <div>
                    <h4>{{bReponses.choix}}</h4>
                </div>                   
            <br>
            {% endfor %}#}
        
  
{% endblock %}      