{% extends 'base.html.twig' %}

{% block body %}
        </br>
        </br>
        <div class="text-center">
            <h4>{{user.username}} vous avez obtenu une note de {{note}} sur 3</h4>               
        </div>
               
  
{% endblock %}      